@page
@model MegaDesk_2._0.Pages.Desks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Desk</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.drawers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.drawers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.rushOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.rushOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Desk?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
